
.appDetails{
    .contactTopHeader{
        display: flex;
        padding: 27px 154px;
        .img{
            border-radius: 16px;
            margin-right: 20px;

       }
       .information{
           h1{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            color: #1A1C1D;
            margin: 0;
           }
           h4{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height, or 150% */
            
            
            color: #8083A3;
            
           }
       }
    }
    .btn-icon{
        border: none;
        background: none;
        cursor: pointer;
    }
    .contactsInfo{
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        padding: 0px 100px;
        .heading{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #8083A3;
            margin-right: 100px;
        }
        .description{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #1A1C1D;
        }
    

    }
}